@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4723D9;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  --header-color: #E8E8E8;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background: url("/storage/img/background.png");
    background-repeat: no-repeat;
    background-position: -10px -10px;
    background-size: cover;
    height: 100vh;
}

.nav_logo {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: calc(var(--header-height) + 1rem);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: var(--header-color);
  z-index: var(--z-fixed);
  transition: .5s
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden
}

.header_img img {
  width: 40px
}

.container {
  height: 100%;
}

.main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.logo {
  object-fit: contain;
}

.btn-primary, .page-item.active .page-link {
  background: #77274F;
  border-color: #77274F;
}

.btn-primary:hover, .page-item.active .page-link:hover {
  background: #9e3c6d;
  border-color: #9e3c6d;
}

.btn-info {
  background: #9e3c6d;
  border-color: #9e3c6d;
  color: white;
}

.btn-info:hover {
  background: #86305b;
  border-color: #86305b;
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-container {
  border-radius: 20px;
  padding: 2rem 10rem;
}